---
import Scene from "../components/Scene";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="h-full bg-black flex flex-col justify-center items-center">
			<h1 class="text-3xl font-semibold font-mono text-white">
				Stage
			</h1>
			<Scene client:only="react" /> 
		</div>
	</body>
</html>
