---
import Gallery from "../components/Gallery.jsx";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <title>Fancybox mit React</title>
  </head>
  <body>
    <h1>Bildergalerie</h1>
    <Gallery client:load />
  </body>
</html>
